<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('navbar', {links:links})%>
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos accusamus eum voluptatibus facere quibusdam aliquid quos nostrum ducimus fugit tenetur.</p>
    <%- include('footer') %>
  </body>
</html>